<div class="container-fluid wrapper">
  <div class="row form-row">
    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-8 offset-lg-2">


      <mat-card>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <h1 class="text-center">Regisztráció</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput id="email" placeholder="E-mail cím" formControlName="email" required>
                  <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && (email.errors.required || email.errors.email)">
                    Kérjük adjon meg egy létező e-mail címet!
                  </mat-error>
                </mat-form-field>
                <div class="alert alert-danger mt-2" [ngStyle]="{'display':(myErrors.length > 0) && errorArrayContainsValue('email') ? 'block' : 'none' }">
                  <div *ngIf="(myErrors.length > 0) && errorArrayContainsValue('email'); else templateName">{{getErrorMessage('email')}}</div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Felhasználónév" id="username" formControlName="username" required>
                  <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.required">
                    Kérjük adjon meg egy felhasználónevet!
                  </mat-error>
                  <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && (username.errors.minlength || username.errors.maxlength)">
                    A felhasználónév 4 és 10 karakter közt kell legyen!
                  </mat-error>
                </mat-form-field>
                <div class="alert alert-danger mt-2" [ngStyle]="{'display':(myErrors.length > 0) && errorArrayContainsValue('username') ? 'block' : 'none' }">
                  <div *ngIf="(myErrors.length > 0) && errorArrayContainsValue('username'); else templateName">{{getErrorMessage('username')}}</div>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Keresztnév" id="firstName" formControlName="firstName" required>
                  <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required">
                    Kérjük adja meg keresztnevét!
                  </mat-error>
                  <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && (firstName.errors.minlength || firstName.errors.maxlength)">
                    A keresztnév 2 és 20 karakter között kell legyen!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Vezetéknév" id="lastName" formControlName="lastName" required>
                  <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required">
                    Kérjük adja meg vezetéknevét!
                  </mat-error>
                  <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && (lastName.errors.minlength || lastName.errors.maxlength)">
                    A vezetéknév 2 és 20 karakter között kell legyen!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Jelszó" [type]="hide ? 'password' : 'text'" id="password"
                    formControlName="password" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
                    Kérjük adjon meg egy jelszót!
                  </mat-error>
                  <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && (password.errors.minlength || password.errors.maxlength)">
                    A jelszó 6 és 15 karakter között kell legyen!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Jelszó ismét" [type]="hide ? 'password' : 'text'" id="passwordAgain"
                    formControlName="passwordAgain" required>
                  <mat-error *ngIf="passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched) && passwordAgain.errors.required">
                    Kérjük adja meg újra a jelszót!
                  </mat-error>
                  <mat-error *ngIf="passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched) && (passwordAgain.errors.minlength || passwordAgain.errors.maxlength)">
                    A jelszó 6 és 15 karakter között kell legyen!
                  </mat-error>
                  <mat-error *ngIf="(passwordAgain.dirty || passwordAgain.touched) && passwordAgain.errors && passwordAgain.errors.MatchPassword && !(passwordAgain.errors.minlength || passwordAgain.errors.maxlength)">
                    A jelszavak nem egyeznek!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Város" id="city" formControlName="city" required>
                  <mat-error *ngIf="city.invalid && (city.dirty || city.touched) && city.errors.required">
                    Kérjük adja meg városa nevét!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Utca" id="street" formControlName="street">
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Házszám" id="number" formControlName="number">
                </mat-form-field>
              </div>
            </div>

          </mat-card-content>



          <mat-card-actions>
            <button type="submit" id="submit-btn" mat-raised-button color="primary" [disabled]="form.invalid">
              Regisztráció
            </button>
          </mat-card-actions>
        </form>
        <p>Regisztráltál már? Lépj be
          <a [routerLink]="['/login']">itt.</a>
        </p>
      </mat-card>
    </div>
  </div>
</div>