<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="assets/img/book.png" class="img-responsive" style="width:45px; height:45px;" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav menu">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && isUser()">
        <a class="nav-link" [routerLink]="['']">Új tagoknak</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && isUser()">
        <a class="nav-link" [routerLink]="['/browse']">Ticketek</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && isUser()">
        <a class="nav-link" [routerLink]="['/reportUsers']">Jelentés</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && isAdmin()">
        <a class="nav-link" [routerLink]="['/banUsers']">Tiltás</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && isAdmin()">
        <a class="nav-link" [routerLink]="['/reports']">Panaszok</a>
      </li>
    </ul>
    <ul class="navbar-nav menu ml-auto">
      <li class="nav-item" *ngIf="isAuthenticated() && isUser()">
        <a class="nav-link mr-2" [routerLink]="['/notifications']">
          <i class="far fa-bell"></i>
        </a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a class="nav-link" [routerLink]="['/register']">Regisztráció</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated() && isUser()">
        <a class="nav-link dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img *ngIf="image; else dummyImage" src={{image}} class="profile-img mr-2" /><span>{{getUserName()}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/myprofile']">Profilom</a>
          <a class="dropdown-item" [routerLink]="['/mybooks']">Könyveim</a>
          <a class="dropdown-item" [routerLink]="['/chat']">Folyamatban levő cseréim</a>
          <a class="dropdown-item" [routerLink]="['/changePicture']">Profilkép csere</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/friends']">Barátaim</a>
          <a class="dropdown-item" [routerLink]="['/friendRequests']">Barátkérések</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" *ngIf="!isAuthenticated()">Bejelentkezés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" (click)="logout()" *ngIf="isAuthenticated()">Kijelentkezés</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #dummyImage>
  <img src="assets/img/person.jpg" class="profile-img mr-2" />
</ng-template>