.menu > li a:hover {
    background-color: rgb(116, 185, 255);
    color: black !important;
}

.menu > li a {
    color: rgb(236, 240, 241) !important;
    border-radius: 10%;
}

.navbar {
    background-color : rgb(9, 132, 227);
}

