<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="assets/img/book.png" class="img-responsive" style="width:45px; height:45px;" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav menu">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rolunk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bejelentkezes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Regisztracio</a>
      </li>
    </ul>
  </div>
</nav>