.underlined {
    border-bottom: 1px solid black;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    background-color: lightgray; 
}

mat-form-field {
    display: block;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
}