<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>Jelszó megváltoztatása</h2>
    </div>
    <div class="col-12">
      Kérjük írja be új jelszavát. Ha a módosítás sikeres, Önt kiléptetjük és már az új jelszavával léphet be.
    </div>
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
          <input matInput placeholder="Jelszó" [type]="hide ? 'password' : 'text'" id="password" formControlName="password"
            required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
            Kérem adja meg új jelszavát!
          </mat-error>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && (password.errors.minlength || password.errors.maxlength)">
            Az új jelszó hosszúsága 6 és 15 közötti kell legyen!
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
          Változtatás
        </button>
      </form>
    </div>
  </div>
</div>