<div class="row">
  <div class="col-12 mb-5">
    <h2 class="text-center">Adataim</h2>
  </div>
  <div class="col-12 mb-4">
    <div class="detail-column">
      <p>Felhasznalonev</p>
      <p>Email</p>
      <p>Vezeteknev</p>
      <p>Keresztnev</p>
    </div>
    <div class="detail-column">
      <p>{{username}}</p>
      <p>{{email}}</p>
      <p>{{lastName}}</p>
      <p>{{firstName}}</p>
    </div>
  </div>
  <div class="col-12">
    <p>A konyveidert kattints <a [routerLink]="['/mybooks']">ide.</a></p>
  </div>
</div>