<div class="container-fluid" *ngIf="isUserInTheChat()">
  <div class="row">
    <div class="col-12 text-center mt-3 mb-3">
      <h3>Privát chat {{getChatPartner()}} felhasználóval</h3>
      <h5 *ngIf="bookToSell">{{bookToSell}} <i class="fas fa-forward ml-2 mr-2"></i> {{bookToPay}}</h5>
      <button class="float-right add-friend-button" (click)="addFriend()" *ngIf="areNotFriends" mat-raised-button><i class="fas fa-plus"></i> Felvétel barátnak</button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="chatBox">

      </div>
      <form [formGroup]="form" (ngSubmit)="sendMessage()">
        <mat-form-field class="float-left">
          <input matInput id="messageField" formControlName="message" placeholder="Írj egy üzenetet.."/>
        </mat-form-field>
        <button type="submit" class="float-left mt-2 ml-3" mat-raised-button color='primary' [disabled]='isButtonDisabled()'>Küldés</button>
      </form>
    </div>
  </div>
</div>