.chatBox {
    background-color: white;
    padding: 10px;
    overflow: auto;
    height: 70vh;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgray;
    min-height: 100vh;
}

p.notMyMsg {
    float: left;
    clear: both;
    border-radius: 17%;
    padding : 10px;
    background-color: lightgrey;
    max-width: 40%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

p.myMsg {
    float: right;
    clear: both;
    border-radius: 17%;
    padding : 10px;
    background-color: lightgreen;
    max-width: 40%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

mat-form-field {
    width: 90%;
}

#messageField {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

