<div class="container-fluid">
  <div class="row">
    <div class="col-12 logo-wrapper mt-3">
      <img class="logo-img" src="assets/img/book.png" />
      <h1 class="mt-3">Könyvklub</h1>
      <img class="logo-img" src="assets/img/book.png" />
    </div>
    <div class="col-12 text-center cite-text mt-2 mb-2">
      <cite>„Egy olvasó ezernyi életet megél, mielőtt meghal. Az az ember, aki nem olvas, csak egyet.”</cite>
    </div>
    <div class="col-12 col-md-4 offset-md-7 cite-author">
      &mdash; George R. R. Martin
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-card>
            <mat-card-header>
              <h3>Az oldal célja</h3>
            </mat-card-header>
            <mat-card-content>
              <p>
                Köszöntjük a Könyvklub oldalán. Ha lelkes könyvolvasó, akkor ez az Ön helye. Célunk egy olyan közösség
                kialakítása, mely behálózza az egész országot, s melynek tagjai az olvasás, a kézzel tapintható könyv
                szerelmesei.
              </p>
              <p>
                Volt már olyan, hogy elolvasott egy könyvet, aztán ennek sorsa a polcon való porosodás lett? Nem
                gondolt arra, hogy talán még valahogyan hasznát vehetné? Mi segítünk Önnek ebben. Többé egy könyv sem
                válik hasztalanná elolvasás után, ha a Könyvklub tagja. Mégis hogyan? Olvassa el a "Hogyan is működik a
                Könyvklub" című fejezetet.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-md-6">
          <mat-card>
            <mat-card-header>
              <h3>Hogyan is működik a Könyvklub</h3>
            </mat-card-header>
            <mat-card-content>
              <p>
                Az oldalunk segítségével a régi, vagy már elolvasott könyveit elcserélheti más felhasználókkal. Két
                lehetősége van erre:
              </p>
              <ol>
                <li>Úgynevezett "ticketet" (jegyet) hozhat létre, amiben meghírdeti könyvét, leírhatja mit kér cserébe.
                  Erre a többi klubtag pedig ajánlatot tehet. Azt, hogy melyiket fogadja el, az Ön döntése;</li>
                <li>Egy már meglévő ticketre ajánlatot tesz. Ebben az esetben megindokolhatja, miért pont Önnel
                  cseréljenek, de a döntés annak a kezében van aki a ticketet elindította. 
                </li>
              </ol>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>