<div class="row">
  <div class="col-12 mb-5 mt-5">
    <h2 class="text-center">Jelszo megvaltoztatasa</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row form-row">
        <div class="col-12 mb-3">
          <mat-form-field>
            <input matInput id="oldPassword" placeholder="Regi jelszo" formControlName="oldPassword" [type]="hide ? 'password' : 'text'"
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched) && oldPassword.errors.required">
              Kérjük adja meg jelszavat!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field>
            <input matInput id="oldPasswordAgain" placeholder="Regi jelszo ujra" formControlName="oldPasswordAgain"
              [type]="hide ? 'password' : 'text'" required>
            <mat-error *ngIf="oldPasswordAgain.invalid && (oldPasswordAgain.dirty || oldPasswordAgain.touched) && oldPasswordAgain.errors.required">
              Kérjük adja meg a jelszavat ujra!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field>
            <input matInput id="newPassword" placeholder="Uj jelszo" formControlName="newPassword" [type]="hide ? 'password' : 'text'"
              required>
            <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) && newPassword.errors.required">
              Kérjük adjon meg egy jelszot!
            </mat-error>
            <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) && (newPassword.errors.minlength || newPassword.errors.maxlength) ">
              Az uj jelszo 6 es 15 hosszusag kozott kell legyen.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
            Megvaltoztatom
          </button>
        </div>
      </div>
    </form>
  </div>
</div>