<div class="row">
  <div class="col-12 mb-5">
    <h2 class="text-center">Jelszo megvaltoztatasa</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row form-row">
        <div class="col-12 mb-3">
          <mat-form-field>
            <input matInput id="password" placeholder="Regi jelszo" formControlName="password" [type]="hide ? 'password' : 'text'"
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
              Kérjük adja meg jelszavat!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field>
            <input matInput id="passwordAgain" placeholder="Regi jelszo ujra" formControlName="passwordAgain" [type]="hide ? 'password' : 'text'"
              required>
            <mat-error *ngIf="passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched) && passwordAgain.errors.required">
              Kérjük adja meg a jelszavat ujra!
            </mat-error>
            <mat-error *ngIf="(passwordAgain.dirty || passwordAgain.touched) && passwordAgain.errors && passwordAgain.errors.MatchPassword">
              A jelszavak nem egyeznek.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-10 offset-1">
          <div class="alert alert-danger mt-2" [ngStyle]="{'display':(myErrors.length > 0) ? 'block' : 'none' }">
            <div *ngIf="myErrors.length > 0">{{getErrorMessage()}}</div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" id="submit-btn" mat-raised-button color="primary" [disabled]="form.invalid">
            Megvaltoztatom
          </button>
        </div>
      </div>
    </form>
  </div>
</div>