<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Jelszó megváltoztatása</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row form-row">
        <div class="col-12 mb-3">
          <mat-form-field>
            <input matInput id="password" placeholder="Régi jelszó" formControlName="password" [type]="hide ? 'password' : 'text'"
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
              Kérjük adja meg jelszavát!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field>
            <input matInput id="passwordAgain" placeholder="Régi jelszó újra" formControlName="passwordAgain" [type]="hide ? 'password' : 'text'"
              required>
            <mat-error *ngIf="passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched) && passwordAgain.errors.required">
              Kérjük adja meg a jelszavát újra!
            </mat-error>
            <mat-error *ngIf="(passwordAgain.dirty || passwordAgain.touched) && passwordAgain.errors && passwordAgain.errors.MatchPassword">
              A jelszavak nem egyeznek.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-10 offset-1">
          <div class="alert alert-danger mt-2" [ngStyle]="{'display':(myErrors.length > 0) ? 'block' : 'none' }">
            <div *ngIf="myErrors.length > 0">{{getErrorMessage()}}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button type="submit" id="submit-btn" mat-raised-button color="primary" [disabled]="form.invalid">
        Megváltoztatom
      </button>
    </mat-card-actions>
  </mat-card>
</form>