<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12">
          <app-my-details></app-my-details>
        </div>
        <div class="col-12 mt-3">
          <h2 class="text-center">Profilkép megváltoztatása</h2>
          <form (ngSubmit)="submit()">
            <div class="row text-center mt-4">
              <div class="col-12">
                <input type="file" (change)="fileChange($event)" name="file" id="file" class="inputfile" accept=".jpg,.jpeg" />
                <label for="file">Válasszon egy képet</label>
              </div>
              <div class="col-12">
                <button type="submit" mat-raised-button color="primary" [disabled]="!isFileChosen()">Megváltoztatás</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <app-change-password></app-change-password>
      <img src={{mySrc}} />
    </div>
  </div>
</div>