.report-image{
    max-height: 70px;
    width: auto;
}

.underlined {
    border-bottom: 1px solid black;
}

.mat-cell {
    padding: 5px 30px 5px 0px;
}

.image-parent {
    position: relative;
}

.hidden-image {
    display: none;
    position: absolute;
    max-height: 800px;
    width: auto;
    z-index: 1;
    top: -200%;
    left: -400%;
}

.image-parent:hover .hidden-image {
    display: block;
}

.container-fluid {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgray;
    min-height: 100vh;
}