<div class="container">
  <div class="row mt-2">
    <div class="col-10 offset-1">
      <mat-card class="example-card">
        <mat-card-header class="title-container">
          <mat-card-title class="title-text">Harry Potter</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-3">
          <div class="row profile-row">
            <div class="col-12 mb-2">
              <img src="assets/img/person.jpg" class="profile-img" />
              <span class="profile-name">Dumbledore, </span>
              <span class="profile-city">Zalaegerszeg</span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-sm-6">
              <p>Iro: J.K.Rowling</p>
            </div>
            <div class="col-12 col-sm-6">
              <p>Kiadas eve: 2004</p>
            </div>
            <div class="col-12 col-sm-6">
              <p>Kiado: Valami jo nev</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-2">
              <h2>Mit kérek cserébe?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan lobortis neque, in rutrum
                lacus
                facilisis euismod. Phasellus gravida est ut velit interdum accumsan. Vestibulum pulvinar augue sed
                augue
                mollis, interdum sollicitudin risus accumsan. Quisque aliquam dui at ex fringilla sollicitudin. Etiam
                eu
                egestas mauris. Nullam condimentum, neque eu blandit pellentesque, lectus nibh tincidunt sem, eu
                venenatis
                ante dolor id nisi. Suspendisse porttitor luctus odio, eget sagittis diam consectetur a. Lorem ipsum
                dolor
                sit amet, consectetur adipiscing elit. Fusce porttitor fermentum sagittis. Nulla sed massa ligula.
                Quisque et
                hendrerit eros.</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button mat-raised-button color="primary">Erdekel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>